  <div class="card mb-3 mx-auto" style="width: 600px;">
  <div class="card-header">
    <h4><%= post.title %></h4>
    <p class="font-weight-bold mr-10"><%= post.user.name %></p>
    <% post.categories.each do |category| %>
      <span class="badge badge-primary"><%= category.name %></span>
    <% end %>
  </div>
  <div class="card-body">
      <% if post.video? %>
        <% if post.video.file.content_type.include?('image/') %>
          <%= image_tag  post.video.url(:thumb) %>
        <% else %>
          <%= video_tag post.video.url, width: "100%", height: "60%",
                  controls: true, autobuffer: true %>
        <% end %>
      <% end %>
    <p class="card-text"><%= simple_format(post.content) %></p>

    <p>ブックマーク件数: <%= post.bookmarks.count %></p>
    <% if current_user.already_bookmarked?(post) %>
      <%= button_to 'ブックマークを取り消す', post_bookmarks_path(post), method: :delete %>
    <% else %>
      <%= button_to 'ブックマーク', post_bookmarks_path(post) %>
    <% end %>
    <p>ブックマークしたユーザ</p>
    <% post.bookmarked_users.each do |user| %>
      <li><%= user.name %></li>
    <% end %>
  </div>
</div>