  <div class="card mb-3 mx-auto" style="width: 600px;">
  <div class="card-header">
    <h4><%= post.title %></h4>
    <p class="font-weight-bold mr-10"><%= post.user.email %></p>
    <% post.tags.each do |tag| %>
      <span class="badge badge-primary"><%= tag.name %></span>
    <% end %>
  </div>
  <div class="card-body">
      <% if post.video? %>
        <% if post.video.file.content_type.include?('image/') %>
          <%= image_tag  post.video.url(:thumb) %>
        <% else %>
          <%= video_tag post.video.url, width: "100%", height: "60%",
                  controls: true, autobuffer: true %>
        <% end %>
      <% end %>
    <p class="card-text"><%= simple_format(post.content) %></p>
  </div>
</div>