<div class="d-flex align-items-center">
  <h1>掲示板一覧</h1>
  <div class="ml-auto posts__linkBox">
    <%= form_tag posts_path, method: :get, class: 'posts__searchForm' do %>
      <%= select_tag :tag_id,
                    options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                    {
                      prompt: 'タグで絞り込み',
                      class: 'form-control posts__select',
                      onchange: 'submit(this.form);'
                    }
      %>
    <% end %>
    <%= link_to '新規作成', new_post_path, class: 'btn btn-outline-dark' %>
  </div>
</div>
<% if flash[:notice] %>
  <div class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>
<table class="table table-hover posts__table">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>本文</th>
      <th>作成日時</th>
      <th>更新日時</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.id %></td>
      <td><%= post.title %></td>
      <td><%= post.content %></td>
      <td><%= post.created_at.to_s(:datetime_jp) %></td>
      <td><%= post.updated_at.to_s(:datetime_jp) %></td>
      <td><%= link_to '詳細', post, class: 'btn btn-outline-dark' %></td>
      <td><%= link_to '削除', post, class: 'btn btn-outline-dark', method: :delete %></td>
    </tr>
  <% end %>
</table>

<div class="card mb-3">
  <% @posts.each do |post| %>
  <hr>
  <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title><%= post.title %></title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
  <div class="card-body">
    <h5 class="card-title"><%= post.title %></h5>
    <p class="card-text"><%= post.content %></p>
    <p class="card-text"><small class="text-muted"><%= post.created_at.to_s(:datetime_jp) %></small></p>
  </div>
  <% end %>
</div>

<%= paginate @posts %>