
<% if flash[:notice] %>
  <div class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>

<div class="container">
  <div class="row">
  <div class="col-sm"></div>

  <div class="col-sm">
    <div class="card" style="width: 600px;">
      <h5 class="card-header">おすすめの質問</h5>
      <% @posts.each do |post| %>
      <div class="card-body">
        <% post.categories.each do |category| %>
          <small class="text-muted"><%= category.name %></small>
        <% end %><br>
        <%= link_to(post_path(post), class: 'link-bottom') do %>
          <div class="item-list-title"><%= post.title %></div>
        <% end %>
        <div><small class="text-muted"><%= time_ago_in_words(post.updated_at) %></small></div>
        <div>
          <%= link_to(post_path(post), class: 'btn btn-white rounded-pill') do %>
            <i class="fas fa-pen-square answer-blue answer-large"></i> 回答する
          <% end %>
        </div>
        <div>
          <i class="fas fa-ellipsis-h"></i>
        </div>
      </div><hr>
      <% end %>
    </div>
  </div>
  <div class="col-sm"></div>
</div>

<%= paginate @posts %>